services:

  db:
    image: postgis/postgis:16-3.4
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: dms_dev
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: builder 
    image: dms_app_dev
    command: bash -c "mix ecto.create && mix ecto.migrate && mix phx.server"
    
    environment:
      DATABASE_URL: postgresql://postgres:password@db:5432/dms_dev
      SECRET_KEY_BASE: LOREM_IPSUM_SECRET_KEY_BASE_DEV
      MIX_ENV: dev
    ports:
      - "4000:4000"
      
    volumes:
      - .:/app
      - app_deps:/app/deps
      
    stdin_open: true  
    tty: true         

    depends_on:
      db:
        condition: service_healthy 

volumes:
  db_data:
  app_deps: